

@media screen and (max-width: 992px) {
    .authRightSideHandler{
        width: 50% !important;
    }
    .authLefttSideHandler{
        width: 50% !important;
    }
}
@media screen and (max-width: 600px) {
    .authLefttSideHandler{
        width: 100% !important;
    }
    .authRightSideHandler{
        display: none;
    }
}